Repository hiliyongke/vue3-admin-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,vue,jsx,ts,tsx}": ["npm run lint", "prettier --write"],
  "*.{vue,html,css,sass,less,scss,styl}": ["stylelint --fix"]
}

WIP: update axios
  src/api/detail.ts
  src/api/model/detail-model.ts
  src/pages/detail/advanced/index.vue
  src/utils/request.ts
  src/utils/request/axios.ts
  src/utils/request/cancel.ts
  src/utils/request/index.ts
  src/utils/request/transform.ts
  src/utils/request/util.ts
  types/axios.d.ts
  types/components.d.ts
Due: npm run lint, prettier --write, stylelint --fix

Update build.yml
  .github/workflows/build.yml
Due: none

feat(components): add more demos
  .cz-config.js
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc.json
  .versionrc.js
  .vscode/settings.json
  index.html
  package.json
  pnpm-lock.yaml
  src/components/basic/markdown-editor/index.vue
  src/components/basic/rich-editor/index.vue
  src/hooks/use-export-excel.ts
  src/main.ts
  src/pages/demo/css-tree/horizontal-tree/index.vue
  src/pages/demo/css-tree/vertical-tree/index.vue
  src/pages/demo/css-tree/vertical-tree/node.vue
  src/pages/demo/css-tree/vertical-tree/process.less
  src/pages/demo/introduce/index.vue
  src/pages/demo/md-editor/index.vue
  src/pages/demo/qrcode/index.vue
  src/pages/demo/rich-editor/index.vue
  src/router/async-modules/demo.ts
  src/utils/aes.ts
  src/utils/full-screen.ts
  src/utils/transfer2blob.ts
  tsconfig.json
  types/components.d.ts
Due: npm run lint, prettier --write, stylelint --fix

feat(other): 新增vitepress技术站点
  dockerfile
  docs/.vitepress/config.js
  docs/basic/index.md
  docs/guid/images/admin.png
  docs/guid/index.md
  docs/guid/readme.md
  docs/index.md
  docs/other/docker_nginx.md
  docs/other/images/1626422780_69_w1690_h1078.png
  docs/other/images/1626423491_41_w1092_h237.png
  docs/other/index.md
  docs/other/命名规范.md
  docs/recommend/index.md
  docs/recommend/technology_stack.md
  docs/recommend/vscode.md
  docs/standard/code.md
  docs/standard/css.md
  docs/standard/img/compass.png
  docs/standard/img/ide_setting1.png
  docs/standard/img/ide_setting2.png
  docs/standard/img/stylelint.png
  docs/standard/index.md
  docs/standard/javascript.md
  docs/standard/structure.md
  nginx.conf
  pnpm-lock.yaml
  vite.config.ts
Due: npm run lint, prettier --write

ci(other): update workflow
  .github/workflows/build.yml
  .github/workflows/web.yml
Due: none

ci(other): update cfg
  .github/workflows/docs.yml
  .github/workflows/web.yml
Due: none

dep_up(other): up dep
  pnpm-lock.yaml
Due: none

ci(deps): update dep
  src/pages/demo/drag-panel/index.vue
  types/auto-imports.d.ts
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

feat(other): 新增api生成器
  build/vite/plugins/hmr.ts
  build/vite/plugins/html.ts
  build/vite/plugins/index.ts
  build/vite/plugins/pwa.ts
  docs/other/代码脱敏.md
  docs/前端体系自查.xmind
  package.json
  packages/generator/README.md
  packages/generator/index.js
  packages/generator/outfile.cjs
  packages/generator/package.json
  packages/generator/utils/directoryTraverse.js
  packages/generator/utils/getCommand.js
  public/favicon.ico
  public/resource/images/logo-192x192.png
  public/resource/images/logo-512x512.png
  src/pages/demo/css-tree/vertical-tree/node.vue
  src/utils/generate-request-files/generate-it.js
  src/utils/generate-request-files/images/jsContent.jpg
  src/utils/generate-request-files/images/result.jpg
  src/utils/generate-request-files/images/result2.jpg
  src/utils/generate-request-files/images/runIt.jpg
  src/utils/generate-request-files/images/runIt2.jpg
  src/utils/generate-request-files/readme.md
  src/utils/generate-request-files/utils/calculate-obj.js
  src/utils/generate-request-files/utils/check-fns.js
  src/utils/generate-request-files/utils/constant.js
  src/utils/generate-request-files/utils/folder-obj.js
  src/utils/generate-request-files/utils/index.js
Due: npm run lint, prettier --write, stylelint --fix

Deploying to docs from @ hiliyongke/vue3-admin-boilerplate@fae4d60373547806d6d3e79fe14e16a0107e2d2d 🚀
  404.html
  assets/other_代码脱敏.md.74f7a04b.js
  assets/other_代码脱敏.md.74f7a04b.lean.js
  basic/component.html
  basic/index.html
  basic/mock.html
  basic/request.html
  basic/style.html
  basic/svg.html
  basic/version.html
  guid/index.html
  guid/readme.html
  hashmap.json
  index.html
  other/docker_nginx.html
  other/index.html
  other/代码脱敏.html
  other/前端技术规范.html
  other/前端规范是什么.html
  other/命名规范.html
  recommend/index.html
  recommend/technology_stack.html
  recommend/vscode.html
  standard/code.html
  standard/comments.html
  standard/css.html
  standard/doc.html
  standard/format.html
  standard/git.html
  standard/ignore.html
  standard/index.html
  standard/javascript.html
  standard/name.html
  standard/structure.html
  vite-plugins/pages&layouts.html
  vite-plugins/常见插件介绍.html
Due: npm run lint, prettier --write, stylelint --fix

WIP: 持续优化中
  mock/user.ts
  src/api/user.ts
  src/app.vue
  src/assets/images/bg.jpg
  src/assets/images/bg.webp
  src/components/basic/lock-screen/index.vue
  src/components/basic/lock-screen/lock-screen.vue
  src/components/basic/lock-screen/xiaomi-charge.vue
  src/config/global.ts
  src/config/style.ts
  src/i18n/index.ts
  src/layouts/components/language-select.vue
  src/layouts/setting.vue
  src/main.ts
  src/pages/login/index.less
  src/pages/login/index.vue
  src/router/async-modules/demo.ts
  src/router/async-modules/detail.ts
  src/router/async-modules/form.ts
  src/router/async-modules/list.ts
  src/router/guards.ts
  src/router/index.ts
  src/router/static-modules/account.ts
  src/router/static-modules/dashboard.ts
  src/router/static-modules/login.ts
  src/router/static-modules/result.ts
  src/store/index.ts
  src/store/modules/setting.ts
  src/store/modules/user.ts
  src/utils/error-handler.ts
  src/utils/request/index.ts
  types/axios.d.ts
Due: npm run lint, prettier --write, stylelint --fix

release(other): 部署docs
  .github/workflows/docs.yml
Due: none

release(other): upadte docs config
  docs/.vitepress/config.js
Due: npm run lint, prettier --write

docs(other): update docs
  docs/.vitepress/config.js
Due: npm run lint, prettier --write

WIP: 持续优化
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/assets/images/bg.jpg
  src/assets/images/bg1.jpg
  src/components/basic/back-top/index.vue
  src/layouts/components/layout-content.vue
  src/pages/login/index.less
  src/plugins/custom-components.ts
  types/components.d.ts
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

ci(other): update action
  .github/workflows/web.yml
Due: none

feat(other): add mini-monitor
  .npmrc
  build/constant.ts
  index.html
  package.json
  pnpm-lock.yaml
  src/assets/images/bg.png
  src/assets/images/material1.png
  src/assets/images/material2.png
  src/layouts/components/footer.vue
  src/layouts/components/header.vue
  src/layouts/components/layout-content.vue
  src/layouts/components/side-nav.vue
  src/main.ts
  src/pages/login/index.less
  src/pages/login/index.vue
  src/pages/user/constants.ts
  src/pages/user/index.vue
  src/plugins/custom-console.ts
  src/utils/mini-monitor/index.ts
  src/utils/mini-monitor/readme.md
  src/utils/performance-monitor.ts
  types/components.d.ts
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

release(other): 版本升级
  .vscode/extensions.json
  .vscode/settings.json
  build/vite/plugins/index.ts
  build/vite/plugins/unocss.ts
  build/vite/plugins/windicss.ts
  docs/从 0 搭建 Vite 3 + Vue 3 前端工程化项目.md
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/pages/demo/unocss/index.vue
  src/pages/demo/windicss/index.vue
  src/router/async-modules/demo.ts
  src/style/layout.less
  tsconfig.json
  unocss.config.js
  windi.config.js
Due: npm run lint, prettier --write, stylelint --fix

feat(other): add automate deploy
  admin.code-workspace
  gulp/gulpfile.config.js
  gulp/gulpfile.js
  package.json
  packages/deploy-cli/.gitignore
  pnpm-lock.yaml
Due: npm run lint, prettier --write
